In [1]:
# step 1. Connect to Server

In [6]:
import os
from mysql import connector

PASSWORD = '1234'

In [14]:
# step 2 : create new DB

In [8]:
try:
    with connector.connect(
        host = 'localhost', 
        user = 'root', 
        password = PASSWORD
    ) as database:
        print(f"Database 객체 : {database}")
        
        with database.cursor() as cursor:
            # 쿼리문 작성
            #create_db = "CREATE DATABASE book_ratings;"
            #cursor.execute(create_db)

            # 생성된 DB 확인 쿼리문 쓰기
            show_existing_db = "SHOW DATABASES;"
            cursor.execute(show_existing_db)
            for db in cursor:
                print(db)

except connector.Error as e:
    print(e)

Database 객체 : <mysql.connector.connection.MySQLConnection object at 0x000001F0A380C110>
('book_ratings',)
('classicmodels',)
('information_schema',)
('instacart',)
('my_data',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('titanic',)
('world',)

In [9]:
# 특정 db 에 연결